{% extends 'base.html' %}

{% block content %}
<h1>new post</h1>
<form method='POST'>
    <label for='title'>title</label><br>
    <input type='text' name='title'/><br>
    <label for='body'>post</label><br>
    <textarea name='body' rows='10' cols='40'></textarea><br>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <span class='error'>{{ message }}</span><br>
        {% endfor %}
    {% endwith %}
    <input type='submit' value='Submit' class='submit'/>
</form>
{% endblock %}